# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/

# turbo
.turbo/

# env & secrets — jamais commités
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel

.vercel
